@media(max-width: 1600px) {
  .container {
    padding: 0 50px;
  }
  /* === header === */
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 72%;
            flex: 1 0 72%;
  }
  .menu-dropdown {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 73%;
            flex: 0 0 73%;
  }
}
@media(max-width: 1200px) {
  .text__link {
    font-size: 24px;
    line-height: 1.3;
  }

  /* === header === */
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__content--top {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 0;
  }
  .btn-burger {
    display: block;
  }
  .header__content--bottom {
    display: none;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 112px 50px 50px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .menu-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 33px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 33px;
  }
  .login {
    padding: 16px 92px 16px 87px;
    border: 2px solid var(--accent-color);
    border-radius: 100px;
    -webkit-transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
  }
  .login::after {
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 2px solid var(--hover-color);
    border-radius: 100px;
    background-color: transparent;
  }
  .login:hover {
    border-color: var( --accent-color);
    color: var(--white-color);
    background-color: var( --accent-color);
  }
  .login:active{
    border-color: var(--light-hover-color);
    color: var(--white-color);
    background-color: var(--active-color);
  }
  .login:hover::after,
  .login:active::after {
    opacity: 0;
  }
  .login__text {
    margin-left: 3px;
    letter-spacing: 0.6px;
  }
    /* search */
  .searchbar {
    margin-left: 0;
  }
  .searchbar__btn {
    display: block;
    width: 30px;
    height: 28px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .searchbar__open--active {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-284px);
        -ms-transform: translateX(-284px);
            transform: translateX(-284px);
  }
  .searchbar__form {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 314px;
    background-color: var(--dark-bg-color);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .searchbar__form--open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .searchbar__close {
    margin-left: 24px;
  }
  /* promo */
  .promo-swiper {
    height: 768px;
  }
  .promo-swiper__img-1 {
    background-image: url('../img/promo/castle1024x768.jpg');
  }
  /* .promo-swiper__img-1 {
    background-image: -webkit-image-set(
      url('../img/promo/castle1024x768.jpg') 1x,
      url('../img/promo/castle1917-1x.jpg') 2x
    );
  } */
  .promo-swiper__img-2 {
    background-image: url('../img/promo/bible-story1024x768.jpg');
  }
  .promo-swiper__img-3 {
    background-image: url('../img/promo/forest1024x768.jpg');
  }
  .promo__content {
    padding: 107px 0 113px;
    max-width: 700px;
  }
  .promo__slogan {
    margin-bottom: -12px;
  }
  .promo__desc {
    margin-bottom: 130px;
  }

}

@media(max-width: 992px) {
  .link-text {
    font-size: 24px;
    line-height: 31px;
  }
  /* burger */
  .btn-burger {
    height: 27px;
  }
  .btn-burger__lines {
    height: 3px;
  }
  .header__logo {
    margin-right: 9px;
  }
  /* search */
  .searchbar__btn {
    width: 27px;
    height: 27px;
  }
  .searchbar__form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 34px 50px;
    width: 100%;
    height: 100px;
    z-index: 30;
  }
  .searchbar__field {
    width: calc(100% - 95px);
  }
  /* promo */
  /* .promo-swiper__img-1 {
    background-image: -webkit-image-set(
      url('../img/promo/castle768x768.jpg') 1x,
      url('../img/promo/castle1024-1x.jpg') 2x
    );
  } */
  /* .promo-swiper__img-1 {
    background-image: url('../img/promo/castle768x768.jpg');
  } */
  /* .promo-swiper__img-2 {
    background-image: url('../img/promo/bible-story768x768.jpg');
  }
  .promo-swiper__img-3 {
    background-image: url('../img/promo/forest768x768.jpg');
  } */
}
@media(max-width: 768px) {
  /* promo */
  .promo-swiper__img-1 {
    background-image: url('../img/promo/castle768x768.jpg');
  }
  .promo-swiper__img-2 {
    background-image: url('../img/promo/bible-story768x768.jpg');
  }
  .promo-swiper__img-3 {
    background-image: url('../img/promo/forest768x768.jpg');
  }
  .promo__content {
    max-width: none;
    width: 100%;
  }
}
@media(max-width: 658px) {
  /* promo */
  .promo__content {
    align-items: center;
    text-align: center;
  }
  .promo__slogan {
    font-size: 65px;
    line-height: 83px;
  }

}
@media(max-width: 576.98px) {
  :root {
    --section-padding: 50px;
  }
  .container {
    padding: 0 15px;
  }
  .link-text {
    font-size: 16px;
    line-height: 2;
  }
  .btn {
    font-size: 12px;
    line-height: 16px;
  }
  .section-title {
    font-size: 28px;
    line-height: 38px;
  }
  .section-text {
    font-size: 14px;
    line-height: 28px;
  }
  /* === header === */
  .header__content--top {
    padding: 12px 0;
  }
  .header__content--top:after {
    height: 45px;
  }
  .searchbar__btn {
    width: 18px;
    height: 18px;
  }
  .btn-burger {
    width: 25px;
    height: 18px;
  }
  .btn-burger__lines {
    height: 2px;
  }
  .header__menu {
    padding: 46px 15px 26px;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 0;
  }
  .login {
    padding: 11px 32px 11px 30px;
  }
  .login svg {
    width: 9px;
    height: 9px;
  }
  .login__text {
    margin-left: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
  }
    /* search */
    .searchbar__form {
      padding: 12px 15px 11px;
      height: 45px;
    }
    .searchbar__field {
      width: calc(100% - 71px);
      height: 100%;
      font-size: 16px;
    }
    .searchbar__field::placeholder {
      font-size: 16px;
    }
    /* promo */
    .promo-swiper {
      height: 355px;
    }
    .promo-swiper__img-1 {
      background-image: url('../img/promo/castle320x355.jpg');
    }
    .promo-swiper__img-2 {
      background-image: url('../img/promo/bible-story320x355.jpg');
    }
    .promo-swiper__img-3 {
      background-image: url('../img/promo/forest320x355.jpg');
    }
    .promo__content {
      max-width: 500px;
    }
    .promo__content {
      align-items: center;
      padding: 26px 15px 44px;
      text-align: center;
    }
    .promo__slogan {
      margin-bottom: 0px;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: 1px;
    }
    .promo__desc {
      margin-bottom: 41px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0;
    }
    .promo__link {
      padding: 11px 19px 10px;
    }
    /* about */
    .about {
      padding: var(--section-padding) 0 42px;
    }
    .about__title {
      margin-bottom: 12px;
    }

}
