@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Regular'),
          url('./fonts/OpenSans-Regular.woff2') format('woff2')
          url('./fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
    src: local('OpenSans-SemiBold'),
         url('./fonts/OpenSans-SemiBold.woff2') format('woff2')
         url('./fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
    src: local('OpenSans-Bold'),
         url('./fonts/OpenSans-Bold.woff2') format('woff2')
         url('./fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


:root {
  --accent-color: #9d5cd0;
  --light-hover-color: #d1a9f0;
  --hover-color: #c283f3;
  --active-color: #7943a4;
  --dark-bg-color: #000;
  --light-bg-color: #e5e5e5;
  --white-color: #fff;
  --black-color: #333;
  --dove-gray-color: #666;
  --dusty-gray-color: #999;
  --silver-gray-color: #cacaca;
  --gallery-gray-color: #ececec;
  --green-color: #30bf39;
  --blue-color: #26a5e4;
  --red-color: #d11616;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
p {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus,
button:focus {
  outline: none;
}
img {
  max-width: 100%;
  -o-object-fit: cover;
      object-fit: cover;
}
body {
  position: relative;
  min-width: 320px;
  min-height: 1000px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  background-color: var(--light-bg-color);
  overflow-x: hidden;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
/* === global === */
.container {
  margin: 0 auto;
  padding: 0 160px;
  min-width: 320px;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.input-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}
.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden;
}
.disable-scroll {
  overflow: hidden;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: var(--black-color);
}
.section-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black-color);
}
.link-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}
/* === header === */
.header__content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
justify-content: space-between;
-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.header__content--top {
  padding: 28px 0;
}
.header__content--top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: var(--dark-bg-color);
  z-index: 1;
}


/* menu */
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 12%;
          flex: 1 1 12%;
  margin-right: 15px;
}
.logo {
  z-index: 5;
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78%;
          flex: 0 0 78%;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
}
.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}
.menu__item {
  position: relative;
  z-index: 10;
}
.menu__item:not(:last-child) {
  margin-right: 63px;
}
.menu__link {
  font-weight: 600;
  color: var(--white-color);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.menu__link::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 4px);
  background-color: var(--active-color);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.menu__link:focus-visible {
  outline: none;
}
.menu__link:focus-visible::after {
  opacity: 1;
}
.menu__link:hover {
  color: var(--hover-color);
}
.menu__link:active {
  color: var(--active-color);
}
/* authorization */
.login {
  position: relative;
  color: var(--white-color);
  z-index: 10;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.login::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 4px);
  background-color: var(--active-color);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.login:focus-visible {
  outline: none;
}
.login:focus-visible::after {
  opacity: 1;
}
.login:hover {
  color: var(--hover-color);
}
.login:active {
  color: var(--active-color);
}
.login svg,
.login span {
  fill: currentColor;
  color: currentColor;
}
.login__text {
  margin-left: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--white-color);
}
.header__content--bottom::after {
  content: '';
  position: absolute;
  top: 100px;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* menu-dropdown */
.menu-dropdown {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64.8%;
          flex: 0 0 64.8%;
  margin-right: auto;
}
.menu-dropdown__item {
  position: relative;
  z-index: 10;
}
.menu-dropdown__item:not(:last-child) {
  margin-right: 25px;
}
.menu-dropdown__btn {
  padding: 23px 0;
  color: var(--white-color);
  -webkit-transition: color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out, color .3s ease-in-out;
  transition: transform .3s ease-in-out, color .3s ease-in-out;
  transition: transform .3s ease-in-out, color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  cursor: pointer;
}
.menu-dropdown__btn::after {
  content: '';
  position: absolute;
  top: 19px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% - 38px);
  background-color: var(--active-color);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}
.menu-dropdown__btn svg,
.menu-dropdown__btn span {
  stroke: currentColor;
  color: currentColor;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}
.menu-dropdown__btn:focus-visible {
  outline: none;
}
.menu-dropdown__btn:focus-visible:not(.is-open)::after {
  opacity: 1;
}
.menu-dropdown__btn:hover:not(:focus-visible) {
  color: var(--accent-color);
}
.menu-dropdown__btn.is-open {
  color: var(--active-color);
}
.menu-dropdown__btn.is-open svg {
  -webkit-transform: rotate(180deg) translateY(2px);
      -ms-transform: rotate(180deg) translateY(2px);
          transform: rotate(180deg) translateY(2px);
}
.menu-dropdown__text {
  margin-right: 5px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.dropdown {
  position: absolute;
  top: 100%;
  padding: 40px 20px 40px 40px;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
.dropdown.is-open {
  opacity: 1;
  visibility: visible;
}
.dropdown__item {
  position: relative;
  padding: 10px 14px;
  width: 100%;
}
.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}
.dropdown__link {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--white-color);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  cursor: pointer;
}
.dropdown__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dropdown__link:focus-visible {
  outline: none;
}
.dropdown__link:focus-visible::after,
.dropdown__link:hover::after {
  outline: 2px solid var(--accent-color);
}
.dropdown__link:active::after {
  outline: none;
  background: -webkit-linear-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
  background: -o-linear-gradient(bottom, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  z-index: 1;
}
.dropdown__item-tintoretto {
  background-image: url(../img/header/menu-dropdown/bg-tintoretto.jpg);
}
.dropdown__item-friedrich {
  background-image: url(../img/header/menu-dropdown/bg-verrocchio.jpg);
}
.dropdown__item-leonardo {
  background-image: url(../img/header/menu-dropdown/bg-leonardo.jpg);
}
.dropdown__item-verrocchio {
  background-image: url(../img/header/menu-dropdown/bg-verrocchio.jpg);
}
.dropdown__item-mone  {
  background-image: url(../img/header/menu-dropdown/bg-mone.jpg);
}
.dropdown__item-sisley  {
  background-image: url(../img/header/menu-dropdown/bg-sisley.jpg);
}
.dropdown__item-mane  {
  background-image: url(../img/header/menu-dropdown/bg-mane.jpg);
}
.dropdown__item-renoir  {
  background-image: url(../img/header/menu-dropdown/bg-renoir.jpg);
}
.dropdown__item-vangogh  {
  background-image: url(../img/header/menu-dropdown/bg-vangogh.jpg);
}
.dropdown__item-cezanne  {
  background-image: url(../img/header/menu-dropdown/bg-cezanne.jpg);
}
.dropdown__item-gauguin  {
  background-image: url(../img/header/menu-dropdown/bg-gauguin.jpg);
}
.dropdown__item-sulfur  {
  background-image: url(../img/header/menu-dropdown/bg-sulfur.jpg);
}
.dropdown__item-kandinsky  {
  background-image: url(../img/header/menu-dropdown/bg-kandinsky.jpg);
}
.dropdown__item-marinetti  {
  background-image: url(../img/header/menu-dropdown/bg-marinetti.jpg);
}
.dropdown__item-malevich  {
  background-image: url(../img/header/menu-dropdown/bg-malevich.jpg);
}
.dropdown__item-picasso  {
  background-image: url(../img/header/menu-dropdown/bg-picasso.jpg);
}
.dropdown__item-carra  {
  background-image: url(../img/header/menu-dropdown/bg-carra.jpg);
}
.dropdown__item-pratella  {
  background-image: url(../img/header/menu-dropdown/bg-pratella.jpg);
}
.dropdown__item-severini  {
  background-image: url(../img/header/menu-dropdown/bg-severini.jpg);
}
.dropdown__item-balla  {
  background-image: url(../img/header/menu-dropdown/bg-balla.jpg);
}
/* custom-scroll-simplbar */
.dropdown__list {
  height: 220px;
  overflow: hidden;
  overflow-y: auto;
}
.simplebar-content-wrapper {
  padding-right: 20px;
  overflow: auto;
}
.dropdown__list .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--dark-bg-color);
}
.simplebar-scrollbar::before {
  top: 0;
  left: 0;
  border-radius: 0;
  width: 2px;
  background: var(--white-color);
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
/* search */
.searchbar__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 251px;
  height: 36px;
}
.searchbar__btn {
  position: relative;
  width: 22px;
  height: 22px;
  color: var(--white-color);
  z-index: 10;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.searchbar__btn svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.searchbar__btn:after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  background-color: var(--accent-color);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.searchbar__btn:focus-visible:after {
  opacity: 1;
}
.searchbar__btn:hover  {
  color: var(--hover-color);
}
.searchbar__btn:active:not(.searchbar__open--active) {
  color: var(--active-color);
}
.searchbar__open {
  display: none;
}
.searchbar__btn--search {
  margin-right: 11px;
}
.searchbar__close {
  display: none;
  margin-left: 24px;
}
.searchbar__field {
  border-bottom: 1px solid var(--white-color);
  width: 218px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  z-index: 3;
}
.searchbar__field::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}
.searchbar__field:focus {
  outline: none;
}
.searchbar__field:focus-visible:not(:active),
.searchbar__field:hover:not(:focus-visible) {
  border-color: var(--hover-color);
}
.searchbar__field:active {
  border-color: var(--active-color);
}
/* burger */
.btn-burger {
  position: relative;
  display: none;
  width: 36px;
  height: 28px;
  z-index: 30;
  font-size: 0;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.btn-burger::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  background-color: var(--active-color);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.btn-burger__lines {
  position: absolute;
  left: 0;
  display: block;
  margin: 0;
  width: 100%;
  height: 3.65px;
  background-color: var(--white-color);
  -webkit-transition: width .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: width .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -o-transition: width .5s ease-in-out, transform .5s ease-in-out;
  transition: width .5s ease-in-out, transform .5s ease-in-out;
  transition: width .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
.btn-burger__lines:nth-child(1){
  top: 0;
}
.btn-burger__lines:nth-child(2),
.btn-burger__lines:nth-child(3),
.btn-burger__lines:nth-child(4) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn-burger__lines:nth-child(2) {
  width: 78%;
}
.btn-burger__lines:nth-child(3),
.btn-burger__lines:nth-child(4) {
  background-color: transparent;
}
.btn-burger__lines:nth-child(5){
  bottom: 0;
  width: calc(100% - 12px);
}
.btn-burger.is-open .btn-burger__lines:nth-child(1),
.btn-burger.is-open .btn-burger__lines:nth-child(2),
.btn-burger.is-open .btn-burger__lines:nth-child(5) {
  width: 0px;
  background-color: transparent;
}
.btn-burger.is-open .btn-burger__lines:nth-child(3),
.btn-burger.is-open .btn-burger__lines:nth-child(4) {
  width: 100%;
  background-color: var(--white-color);
}
.btn-burger.is-open .btn-burger__lines:nth-child(3) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-burger.is-open .btn-burger__lines:nth-child(4) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn-burger:focus-visible {
  outline: none;
}
.btn-burger:focus-visible::after {
  opacity: 1;
}


